alembic>=1.4.2
beautifulsoup4
Bootstrap-Flask
certifi
chardet
Click
Flask>=1.1.2
Flask-SQLAlchemy
Flask-WTF
gunicorn
idna
itsdangerous
Jinja2
jsonify
Mako
MarkupSafe>=1.1.1
protobuf
pyasn1
pyasn1-modules
python-dateutil
python-editor
requests
six
soupsieve
SQLAlchemy>=1.3.16
sqlalchemy-datatables
urllib3
Werkzeug
WTForm
psycopg2
APScheduler
flask-socketio
python-socketio
gevent-websocket
gevent>=20.4.0
flask-cors
mysqlclient
flask-sqlacodegen
Flask-User
bcrypt
Flask-Login
Flask-Babel
WTForms-Alchemy
holidays
Flask-Migrate
pymysql
configparser
Flask-Minio
Flask-SQLAlchemy-Caching
email_validator
mysql-connector
WTForms>=2.3.1