alembic
beautifulsoup4
Bootstrap-Flask
certifi
chardet
Click
Flask
Flask-SQLAlchemy
Flask-WTF
gunicorn
idna
itsdangerous
Jinja2
jsonify
Mako
MarkupSafe
protobuf
pyasn1
pyasn1-modules
python-dateutil
python-editor
requests
six
soupsieve
SQLAlchemy
sqlalchemy-datatables
urllib3
Werkzeug
WTForm
psycopg2
APScheduler
flask-socketio
python-socketio
gevent-websocket
gevent
flask-cors
mysqlclient
flask-sqlacodegen
Flask-User
bcrypt
Flask-Login
Flask-Babel
WTForms-Alchemy
holidays
Flask-Migrate
pymysql
configparser
Flask-Minio
Flask-SQLAlchemy-Caching
email_validator
mysql-connector