{% extends 'flask_user/login_layout.html' %}

{% block content %}
    {% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}

    <div class="card">
        <div class="card-header">
            <a class="btn btn-outline-info pull-right" href={{ url_for('user.login') }}>{{ _("Login") }}</a>
            <a class="btn btn-outline-info pull-right" href={{ url_for('user.register') }}>{{ _("Register") }}</a>
            <div class="card-title">{{ _("Login") }}</div>
        </div>

        <div class="card-body">
            <form name="form" action="" id="form" class="form-horizontal"
                  enctype="multipart/form-data"
                  method="POST">
                {{ form.hidden_tag() }}
                {{ render_field(form.email, tabindex=10) }}
                {{ render_submit_field(form.submit, tabindex=90) }}
            </form>
        </div>
    </div>
{% endblock %}