<!DOCTYPE html>
<html lang="{{ lang }}" title="{{ page }}">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>
        {{ title }}
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>


    <link href="/index.css" rel="stylesheet"/>
    {% block extra_css %}{% endblock %}

</head>
{#{% from 'heplers.html' import alert_data %}#}

<body class="">

<div class="overlay"></div>
<div class="spanner">
    <div class="loader"></div>
</div>

{% block layout %}{% endblock %}

<script src="/index.js"></script>
{% block extra_js %}{% endblock %}

</body>
</html>


